body {
    margin: 10px auto;
    background-color: lightgrey;
}

.content {
    width: 350px;
	height: auto;
	margin: 50px auto;
	padding: 20px 20px 9px;
    font-family: 'Orbitron', sans-serif;
    color: lightseagreen;
    background-color: grey;
}

h1 {
    letter-spacing: 2px;
    margin: 10px auto;
    font-size: 1.7em;
    text-align: center;
    color: darkslategray;
}

sup { 
    vertical-align: super;
    font-size: small;
}

#screen {
    margin: 14px auto;
    letter-spacing: 2px;
    border-style: solid;
    padding: 1% 1% 0 1%;
    background-color: lightblue;
    font-size: 1.8em;
    text-align: right;
    overflow: hidden;
}

.buttons {
    padding: 3%;
    text-align: center;
}

button {
    text-align: center;
    height: 30px;
    width: 16%;
    margin: 1%;
    display: inline-block;
    color: darkslategray;
    font-family : inherit;
    font-size: inherit;
    background-color: lightgray;
}

#division, #clear, #multiplication, #plusminus, #minus, #equal, #dot, #percentage, #plus {
    background-color: lightcyan;
}

#clear {
    color: red;
}

#plusminus {
    vertical-align: bottom;
}

#equal {
    color: blue;
    width: 35.5%;
}